/* !vue js */
[v-cloak] {
  display: none !important;
}
/* !reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* !common */

body {
  height: 100vh;
}
#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
img {
  display: block;
}
.red {
  color: red;
}

/* !header */
header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(236, 227, 206);
}

/* !main */
main {
  background-color: rgb(115, 144, 114);
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.items {
  position: relative;
  width: 900px;
  height: 400px;
}

.items ::selection {
  background: transparent;
}

.item {
  height: 100%;
  display: none;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item.active {
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  z-index: 999;
}

.next {
  left: 110%;
}

.prev {
  right: 110%;
}

.no-click {
  pointer-events: none;
}

/* bonus 2 */
.thumbnails {
  width: 900px;
  display: flex;
  position: absolute;
  top: 10%;
}
.thumbnails .thumb {
  margin: 20px;
  width: calc(100% / 5 - 40px);
  height: 100px;
}
.thumbnails img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thumbnails .thumbnail-active {
  border: lightblue 1px solid;
  opacity: 0.5;
}

/* text over img */
.img-text {
  position: absolute;
  right: 100px;
  bottom: 20px;
  left: 40px;
  color: white;
  padding: 10px;
  background-color: rgb(0, 0, 0, 0.5);
}
